config = {};

config.dist = '~/Downloads/phonegap-phonegap-41e05fc';

config.platforms = {};
config.platforms.ios = {
    directory: './ios-example',
    package: 'org.example.mypackage',
    project_name: 'iOSExample'
};

config.platforms.android = {
    directory: './android-example',
    package: 'org.example.mypackage',
    project_name: 'androidExample'
};

module.exports = config;
